<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-3">Teaching Interests and Experience</h3>
      <p style="text-align:justify;">I have great passion in teaching and interacting with my students in class. My training and research experience have prepared me to teach (1) <i><b>analytics courses</b></i> such as Applied Econometrics, Applied Machine Learning, Business Analytics, Social Network Analytics, Text Mining Analytics, and Introduction to Programming; (2) <i><b>core IS courses</b></i> such as Introductory IS Courses, Database Management Systems, Systems Analysis and Design, Technology Strategy, and Electronic Commerce; and (3) <i><b>interdisciplinary IT courses</b></i> such as Digital Innovation, Digital Platform, and Digital Strategy. </p>
      <p style="text-align:justify;">During my Ph.D. program and postdoc experience, I have served as a lab instructor in a course on Business Analytics and worked as a teaching assistant for various courses designed for students in Ph.D./MBA/EMBA/Undergraduate programs. The experiences made me familiar with class preparation and organization for different types of courses and for students with different backgrounds. I was regarded as an effective instructor with a passion for teaching and a commitment to helping the students. </p>

  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Forthcoming Events</h3>
      <p><b>Tutorial- AI Fairness: Concepts, Measures and Attainment Approaches</b></p>
  </div>
</div>
