---
layout: default
---

{{ content }}

<p>- Please access to my CV <a href = "{{ site.github.url }}/assets/files/Jing_Tian_CV.pdf" target="_blank">here</a>.</p>

<p>- Please find my Google Scholar page <a href = "https://scholar.google.co.jp/citations?user=C2mg43IAAAAJ&hl=enß" target="_blank"> here</a>.</p>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Academic Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
